@import '../../../@theme/styles/themes';

@include nb-install-component() {
  ::ng-deep {
    .front-container {
      max-width: 100%;
    }
  }
}

.parent {
  display: flex;
  flex-direction: column;
  // min-height: 100vh;
}
.parent iframe {
  border: none;
  flex-grow: 1;
}
